@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Odibee+Sans&family=Play:wght@400;700&display=swap');
@font-face {
    font-family: 'Uncracked';
    src: url(font/UncrackedFreeTrial-X3WjK.otf);
    src: url(font/UncrackedFreeTrial-X3WjK.ttf) format('truetype');
  }

  :root{
    --spacing: 16px;
    --header: 18px;

}

@media (min-width: 768px) {
    :root {
        --spacing: 26px;
        --header: calc(var(--header)*2);
    }
}

/* html{
    background: url('https://images.squarespace-cdn.com/content/v1/5473abb0e4b00af93820c6a0/1520143853736-ZW2BLQWLKVXNHEJZXG1W/galaxy.gif?format=2500w') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

body { 
    padding: 10em;
}

a{
    text-decoration: underline;
    color: #FF49E2;
}

a:hover{
    color:#00CC20;
}


em { font-style: italic; }
strong { font-weight: bold; }


ul{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(6*var(--spacing)),1fr));
    margin-top: 4em;
}


li{
    aspect-ratio: 1;
}

figure{
    overflow: hidden;
    word-break: break-word;
}

figure,
img{
    height: 100%;
    width: auto;
}

figure > img {object-fit: cover;}

p{
    color: white;
    font-family: 'Play', sans-serif;
}

.link-title{
    font-size: 30px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    margin-bottom: 20px;
    text-shadow:
      /* White glow */
      0 0 7px #ffffff7f,
      /* 0 0 10px #ffffff7f, */
      /* 0 0 21px #ffffff7f, */
      /* Green glow */
      /* 0 0 42px rgba(0, 255, 170, 0.414), */
      0 0 82px rgba(0, 255, 170, 0.414),
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px rgba(0, 255, 170, 0.414);
    
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

#media-type{
    position: fixed;
    width: 70px;
    right: 10px;
    top: 50px;
}

/* mission logo******* */
.mission {
    position: fixed;
    z-index: 2;
    top:15px;
}
.mission img{
    width: 150px;
    height: auto;

}

.mission #mission-text{
    margin-top: -130px;
    margin-left: 160px;
    font-size: 35px;
}

.mission h2{
    font-family: 'Audiowide', cursive;
    color: #FF49E2;
    text-shadow:
    /* White glow */
    /* 0 0 7px #ffffff7f,
    0 0 10px #ffffff,
    0 0 21px #ffffff, */
    /* Green glow */
    0 0 42px #FF49E2,
    0 0 82px #FF49E2,
    /* 0 0 92px #0fa,
    0 0 102px #0fa, */
    0 0 151px #FF49E2;
    animation: flicker 1.5s infinite alternate;
}

.mission p{
    background-color: #03D9E7;
    padding: 5px 25px;
    color: black;
    font-size: 20px;
    box-shadow:
      /* Green glow */
      0 0 42px #03D9E7,
      /* 0 0 82px rgba(0, 255, 170, 0.414),
      0 0 92px #0fa, */
      /* 0 0 102px #0fa, */
      0 0 151px #03D9E7;
}


/* landing sidenav *************************** */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-image: url(background_nav.png);
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #FF49E2;
}

.sidenav .startbtn {
    display:inline-block;
    position: relative;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 50px;
    text-align: center;
    font-family: 'Audiowide', cursive;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    background-color: #161213;
    background-image: radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
    background-repeat: no-repeat;
    transition: background-position-y ease-in-out 250ms;
    text-shadow:
    0 0 4px #fff,
    /* 0 0 11px #fff, */
    0 0 19px #fff,
    /* 0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa, */
    0 0 100px #0fa,
    0 0 150px #0fa;
}

.startbtn:hover {
    background-position-y: -50px;
  }

#mySidenav{
    width: 100vw;
}

.cover{
    margin-top: 8vh;
}
  
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.channel-title{
    position: relative;
    text-align: left;
    font-family: 'Uncracked';
    font-size: 200px;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    z-index: 2;
}

.channel-description{
    position: relative;
    z-index: 2;
    color: white;
    padding: 3vw;
    width: 82ch;
    font-size: 20px;
    margin-bottom: 2vh;
}



/* block icon ******************************** */
.image-square{
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    position: relative;
    top: 0;
    left: 0;
}

.imgicon{
    width: 10em;
    height: auto;
}

.img-thumb{
    position: absolute;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    z-index: 1;
    top: 2.55em;
    left: 2.7em;
}

/* styling lightbox content general tags******** */
.description{
    margin-top: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* image block************ */
.image-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
    margin-top: -15vw;
}

.image-block aside img{
    height: 300%;
    max-height: 500px;
    width: auto;

}

.image-block.active aside{
    display: block;
}

.image-block aside p{
    text-align: center;
}

/* video embed block************ */
.video-embed-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
}


.video-embed-block.active aside{
    display: block;
    margin-top: -200px;
}

.video-embed-block aside p{
    text-align: center;
}


.video-embed-block aside p{
    text-align: center;
    justify-content: center;
}

.video-embed-block .link-title{
    color: #F44A4A;
}

.video-embed-block .description p{
    max-width: 90ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* link block************ */
.link-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 5;
    padding:calc(var(--spacing)*15);
    margin-top: -20vw;
}

.link-block aside img{
    height: 100%;
    max-height: 500px;
    width: auto;

}

.link-block.active aside{
    display: block;
}

.link-block aside p{
    text-align: center;
}

.link-block .link-title{
    color: #7678FF;
}

.link-block .description p{
    width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* PDF block************ */
.pdf-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
    margin-top: -15vw;
}

.pdf-block aside img{
    height: 80%;
    max-height: 500px;
    width: auto;
}

.pdf-block.active aside{
    display: block;
}

.pdf-block aside p{
    text-align: center;
}

.pdf-block .link-title{
    color: #FAFF00;
}

/* audio embed block************ */
.audio-embed aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
}

.audio-embed.active aside{
    display: block;
}

.audio-embed aside p{
    text-align: center;
}

.audio-embed .link-title{
    color: #00CC20;
    margin-top: -10vh;
}

@media (max-width: 768px) {
    body { 
        padding: 2em;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(6*var(--spacing)),1fr));
        /* width: 90vw;
        height: 85vh;
        margin: -1em;
        position: fixed;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden; */
        margin-top: 9em;
    }

    p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
    
    .cover{
        position: relative;
        top: 15vh;
    }

    .channel-title{
        position: relative;
        text-align: left;
        font-family: 'Uncracked';
        font-size: 20vw;
        animation: flicker 1.5s infinite alternate;
        color: #fff;
        z-index: 2;
    }
    

    #media-type{
        position: fixed;
        display: flex;
        width: 100%;
        left: 25px;
        margin-top: 40px;
        z-index: 2;
    }

    #media-type img{
        width: 50px;
    }

      /* landing sidenav *************************** */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-image: url(background_nav.png);
        /* background-position: center; */
        background-size: cover;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }

    .sidenav a:hover {
    color: #f1f1f1;
    }

    .sidenav .startbtn {
        display:inline-block;
        position: relative;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 50px;
        text-align: center;
        font-family: 'Audiowide', cursive;
        clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
        background-color: #161213;
        background-image: radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
        background-repeat: no-repeat;
        transition: background-position-y ease-in-out 250ms;
    }

    .channel-description{
        position: relative;
        z-index: 2;
        color: white;
        padding: 8vw;
        width: 85vw;
        font-size: 16px;
        margin-bottom: -2vw;
    }
    
    /* mission logo******* */
    .mission {
        position: fixed;
        z-index: 2;
        top:15px;
        left:15px;
    }
    .mission img{
        width: 70px;
        height: auto;
    }

    .mission #mission-text{
    margin-top: -70px;
    margin-left: 80px;
    font-size: 20px;
    }

    .mission p{
        background-color: #03D9E7;
        padding: 5px 25px;
        color: black;
        font-size: 12px;
        box-shadow:
          /* Green glow */
          0 0 42px #03D9E7,
          /* 0 0 82px rgba(0, 255, 170, 0.414),
          0 0 92px #0fa, */
          /* 0 0 102px #0fa, */
          0 0 151px #03D9E7;
    }

    .link-title{
        font-size: 25px;
        font-family: 'Audiowide', cursive;
        text-align: center;
        margin-bottom: 20px;
        text-shadow:
          /* White glow */
          /* 0 0 7px #ffffff7f, */
          0 0 10px #ffffff7f,
          /* 0 0 21px #ffffff7f, */
          /* Green glow */
          0 0 42px rgba(0, 255, 170, 0.414),
          /* 0 0 82px rgba(0, 255, 170, 0.414), */
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px rgba(0, 255, 170, 0.414);
        
    }
    


    .icon {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .imgicon{
        width: 8em;
        height: auto;
    }

    .img-thumb{
        position: absolute;
        width: 45%;
        height: 45%;
        z-index: 1;
        top: 1.66em;
        left: 1.74em;
    }

    .image-square{
        border-radius: 50%;

    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .embed{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    aside img{
        max-width: 60vw;
        height: auto;
    }
    
    /* image block************ */
    .image-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*6);
    }

    /* .image-block aside > img{
        display: block;
        object-fit: fill;
        width: 300%;
        max-width: 500px;
        height: auto;
    } */

    .image-block.active aside{
        display: block;
    }

    .image-block aside p{
        width: 50vw;
    }

    .image-block .image{
        margin-top: 35vw;
    }

    /* video embed block************ */
    .video-embed-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*10);
    }

    .video-embed-block.active aside{
        display: block;
    }

    .video-embed-block iframe{
        width: 70vw;
        height: auto;
    }

    .video-embed-block p{
        width: 70vw;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .video-embed-block .link-title{
        font-size: 5vw;
        margin-top: 30vh;
    }


    /* audio embed block************ */
    .audio-embed aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*10);
    }

    .audio-embed.active aside{
        display: block;
    }

    .audio-embed aside p{
        width: 70vw;
        text-align: center;
    }

    .audio-embed .link-title{
        color: #00CC20;
        font-size: 5vw;
        margin-top: 10vh;
    }

    .audio-embed iframe{
        max-width: 60vw;
    }

    /* link block************ */
    .link-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 5;
        padding:calc(var(--spacing)*4);
    }

    .link-block aside img{
        height: 100%;
        max-height: 500px;
        width: auto;

    }

    .link-block.active aside{
        display: block;
    }

    .link-block aside p{
        text-align: center;
        width: 70vw;
    }

    .link-block .link-title{
        color: #7678FF;
        margin-top: 30vw;
        font-size: 5vw;
    }

    /* PDF block************ */
    .pdf-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*5);
        margin-top: -15vw;
    }

    .pdf-block aside img{
        height: 80%;
        max-height: 500px;
        width: auto;
    }

    .pdf-block.active aside{
        display: block;
    }

    .pdf-block aside p{
        text-align: center;
    }

    .pdf-block .link-title{
        color: #FAFF00;
        margin-top: 25vw;
        font-size: 5vw;
    }

}