@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Electrolize&family=Play:wght@400;700&display=swap');
@font-face {
    font-family: 'AwmuDemo';
    src: url(font/AwmuDemo-YzPML.otf);
    src: url(font/AwmuDemo-YzPML.ttf) format('truetype');
    font-family: 'Silom';
    src: url(font/Silom.ttf) format('truetype');
    font-family: 'Uncracked';
    src: url(font/UncrackedFreeTrial-X3WjK.otf);
    src: url(font/UncrackedFreeTrial-X3WjK.ttf) format('truetype');
  }



  :root{
    --spacing: 16px;
    --header: 18px;

}

@media (min-width: 768px) {
    :root {
        --spacing: 26px;
        --header: calc(var(--header)*2);
    }
}

/* html{
    background: url('https://images.squarespace-cdn.com/content/v1/5473abb0e4b00af93820c6a0/1520143853736-ZW2BLQWLKVXNHEJZXG1W/galaxy.gif?format=2500w') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

body { 
    padding: 10em;
}

em { font-style: italic; }
strong { font-weight: bold; }


ul{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(6*var(--spacing)),1fr));
    margin-top: 4em;
}


li{
    aspect-ratio: 1;
}

figure{
    overflow: hidden;
    word-break: break-word;
}

figure,
img{
    height: 100%;
    width: auto;
}

figure > img {object-fit: cover;}

p{
    color: white;
    font-family: 'Play', sans-serif;
}

.channel-title{
    position: fixed;
    text-align: left;
    font-family: 'Uncracked';
    font-size: 100px;
    top: 20px;
    margin-bottom: 15vw;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    z-index: 2;
}

.link-title{
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    text-shadow:
      /* White glow */
      0 0 7px #ffffff7f,
      0 0 10px #ffffff7f,
      0 0 21px #ffffff7f,
      /* Green glow */
      0 0 42px rgba(0, 255, 170, 0.414),
      0 0 82px rgba(0, 255, 170, 0.414),
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px rgba(0, 255, 170, 0.414);
    
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }


  #player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height:40px;
    width: 40px;
    padding: 12px 18px;
    z-index: 2;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
      background-repeat: no-repeat!important;
      background-position: center;
      background-size: 16px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:20px;
    background-color: gainsboro;
    display: inline-block;
    position: fixed;
    margin-top: -100px;
    margin-left: 80vw;
  }
  .play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  }
  .pause {
     background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
  }

#media-type{
    position: fixed;
    width: 70px;
    margin-left: 79vw;
}

.image-square{
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    position: relative;
    top: 0;
    left: 0;
}

#player-container img{
    transform: scale(10%);
    margin-top: -100px;
}

.imgicon{
    width: 10em;
    height: auto;
}

.img-thumb{
    position: absolute;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    z-index: 1;
    top: 2.55em;
    left: 2.7em;
}

.description{
    margin-top: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* image block************ */
.image-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
    margin-top: -15vw;
}

.image-block aside img{
    height: 300%;
    max-height: 500px;
    width: auto;

}

.image-block.active aside{
    display: block;
}

.image-block aside p{
    text-align: center;
}

/* video embed block************ */
.video-embed-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
}


.video-embed-block.active aside{
    display: block;
    margin-top: -200px;
}

.video-embed-block aside p{
    text-align: center;
}


.video-embed-block aside p{
    text-align: center;
    justify-content: center;
}

.video-embed-block .link-title{
    color: #F44A4A;
}

/* link block************ */
.link-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 5;
    padding:calc(var(--spacing)*15);
    margin-top: -20vw;
}

.link-block aside img{
    height: 100%;
    max-height: 500px;
    width: auto;

}

.link-block.active aside{
    display: block;
}

.link-block aside p{
    text-align: center;
    width: 50vw;
}

.link-block .link-title{
    color: #7678FF;
}

/* PDF block************ */
.pdf-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
    margin-top: -15vw;
}

.pdf-block aside img{
    height: 80%;
    max-height: 500px;
    width: auto;
}

.pdf-block.active aside{
    display: block;
}

.pdf-block aside p{
    text-align: center;
}

.pdf-block .link-title{
    color: #FAFF00;
}

/* audio embed block************ */
.audio-embed aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 2;
    padding:calc(var(--spacing)*15);
}

.audio-embed.active aside{
    display: block;
}

.audio-embed aside p{
    text-align: center;
}

.audio-embed .link-title{
    color: #00CC20;
    margin-top: -10vw;
}


@media (max-width: 768px) {
    body { 
        padding: 2em;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(6*var(--spacing)),1fr));
        /* width: 90vw;
        height: 85vh;
        margin: -1em;
        position: fixed;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden; */
        margin-top: 7em;
    }

    p{
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .channel-title{
        position: fixed;
        text-align: left;
        font-family: 'Uncracked';
        font-size: 60px;
        top: 20px;
        /* margin-bottom: 15vw; */
        color: #fff;
        text-shadow:
          /* White glow */
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          /* Green glow */
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
          z-index: 2;
    }


    #media-type{
        position: fixed;
        display: flex;
        width: 100%;
        margin-left: 0;
        margin-top: 60px;
        z-index: 2;
    }

    #media-type img{
        width: 30px;
    }

    #player-container #play-pause {
        cursor: pointer;
        text-indent: -999999px;
        height: 30px;
        width: 30px;
        padding: 12px 18px;
        z-index: 2;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
        background-repeat: no-repeat!important;
        background-position: center;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        background-color: gainsboro;
        display: inline-block;
        position: fixed;
        margin-top: 18px;
        margin-left: 75vw;
      }

      .link-title{
        font-size: 5vw;
        text-shadow:
          /* White glow */
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          /* Green glow */
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
        margin-left: auto;
        margin-right: auto; 
    }


    .icon {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .imgicon{
        width: 8em;
        height: auto;
    }

    .img-thumb{
        position: absolute;
        width: 45%;
        height: 45%;
        z-index: 1;
        top: 1.66em;
        left: 1.74em;
    }

    .image-square{
        border-radius: 50%;

    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .embed{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    aside img{
        max-width: 60vw;
        height: auto;
    }
    
    /* image block************ */
    .image-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*6);
    }

    /* .image-block aside > img{
        display: block;
        object-fit: fill;
        width: 300%;
        max-width: 500px;
        height: auto;
    } */

    .image-block.active aside{
        display: block;
    }

    .image-block aside p{
        width: 50vw;
    }

    .image-block .image{
        margin-top: 35vw;
    }

    /* video embed block************ */
    .video-embed-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*15);
    }

    .video-embed-block.active aside{
        display: block;
        margin-left: -45vw;
    }

    .video-embed-block iframe{
        width: 70vw;
        height: auto;
        margin-left: 45vw;
    }

    .video-embed-block p{
        width: 70vw;
        text-align: center;
        font-size: 12px;
    }

    .video-embed-block .link-title{
        font-size: 5vw;
        margin-top: 25vw;
    }


    /* audio embed block************ */
    .audio-embed aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*15);
    }

    .audio-embed.active aside{
        display: block;
        margin-left: -45vw;
    }

    .audio-embed aside p{
        width: 70vw;
        text-align: center;
    }

    .audio-embed .link-title{
        color: #00CC20;
    }

    .audio-embed iframe{
        margin-left: 45vw;
    }

    /* link block************ */
    .link-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 5;
        padding:calc(var(--spacing)*4);
        margin-top: -20vw;
    }

    .link-block aside img{
        height: 100%;
        max-height: 500px;
        width: auto;

    }

    .link-block.active aside{
        display: block;
    }

    .link-block aside p{
        text-align: center;
        width: 70vw;
    }

    .link-block .link-title{
        color: #7678FF;
        margin-top: 20vw;
    }

    /* PDF block************ */
    .pdf-block aside{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.834);
        z-index: 2;
        padding:calc(var(--spacing)*5);
        margin-top: -15vw;
    }

    .pdf-block aside img{
        height: 80%;
        max-height: 500px;
        width: auto;
    }

    .pdf-block.active aside{
        display: block;
    }

    .pdf-block aside p{
        text-align: center;
    }

    .pdf-block .link-title{
        color: #FAFF00;
        margin-top: 25vw;
    }

}