@font-face {
    font-family: 'AwmuDemo';
    src: url(/assets/font/AwmuDemo-YzPML.otf);
    font-family: 'Silom';
    src: url(/assets/font/Silom.ttf);
    font-family: 'Uncracked';
    src: url(/assets/font/UncrackedFreeTrial-X3WjK.otf);
  }
  
  :root{
    --spacing: 16px;
    --header: 18px;

}

@media (min-width: 768px) {
    :root {
        --spacing: 26px;
        --header: calc(var(--header)*2);
    }
}

/* html{
    background: url('https://images.squarespace-cdn.com/content/v1/5473abb0e4b00af93820c6a0/1520143853736-ZW2BLQWLKVXNHEJZXG1W/galaxy.gif?format=2500w') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

body { 
    padding: 10em;
}

em { font-style: italic; }
strong { font-weight: bold; }


ul{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(6*var(--spacing)),1fr));
    margin-top: 5em;
    /* width: 90vw;
    height: 85vh;
    margin: 5em;
    padding: 5vw;
    position: fixed;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden; */
}

li:nth-child(5n+4) figure{
    transform: scale(160%);
}

li:nth-child(3n+3) figure{
    transform: scale(180%);
}

li:nth-child(9n+6) figure{
    transform: scale(120%);
}

li:nth-child(7n+5) figure{
    transform: scale(50%);
}


li{
    aspect-ratio: 1;
}

figure{
    overflow: hidden;
    word-break: break-word;
}

figure,
img{
    height: 100%;
    width: 100%;
}

figure > img {object-fit: cover;}

p{
    color: white;
    font-family: 'Silom';
}

.channel-title{
    position: fixed;
    text-align: left;
    font-family: 'Uncracked';
    font-size: 100px;
    top: 20px;
    margin-bottom: 15vw;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    z-index: 2;
}

.link-title{
    color: #1DA1F2;
    text-shadow:
      /* White glow */
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      /* Green glow */
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.image-square{
    border-radius: 50%;
}

.icon {
    position: relative;
    top: 0;
    left: 0;
}

.imgicon{
    width: 10em;
    height: auto;
}

.img-thumb{
    position: absolute;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    z-index: 1;
    top: 2.55em;
    left: 2.7em;
}

/* image block************ */
.image-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.482);
    z-index: 2;
    padding:calc(var(--spacing)*15);
}

.image-block aside > img{
    object-fit:fill;
}

.image-block.active aside{
    display: block;
}

.image-block aside p{
    text-align: center;
}

/* video embed block************ */
.video-embed-block aside{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.482);
    z-index: 2;
    padding:calc(var(--spacing)*15);
}

.video-embed-block aside > .embed{
    display: flex;
    text-align: center;
    justify-content: center;
}

.video-embed-block aside p{
    text-align: center;
    justify-content: center;
}

.video-embed-block aside a{
    font-size: 50px;
}

.video-embed-block.active aside{
    display: block;
}


@media (max-width: 769px) {
    body { 
        padding: 2em;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(6*var(--spacing)),1fr));
        /* width: 90vw;
        height: 85vh;
        margin: -1em;
        position: fixed;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden; */
        margin-top: 8em;
    }

    .channel-title{
        position: fixed;
        text-align: left;
        font-family: 'Uncracked';
        font-size: 80px;
        top: 20px;
        margin-bottom: 15vw;
        color: #fff;
        text-shadow:
          /* White glow */
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          /* Green glow */
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
          z-index: 2;
    }

    .icon {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .imgicon{
        width: 8em;
        height: auto;
    }

    .img-thumb{
        position: absolute;
        width: 45%;
        height: 45%;
        z-index: 1;
        top: 1.66em;
        left: 1.74em;
    }

    .image-square{
        border-radius: 50%;

    }

    li:nth-child(5n+4) figure{
        transform: scale(120%);
    }
    
    li:nth-child(3n+3) figure{
        transform: scale(140%);
    }
    
    li:nth-child(9n+6) figure{
        transform: scale(110%);
    }
    
    li:nth-child(7n+5) figure{
        transform: scale(65%);
    }
}